---
const { name, title, body } = Astro.props
---

<div class="w-full mt-8">
  {name && <h3 class="font-thin text-2xl">{title.toUpperCase()}</h3>}

  <h3 class="font-black text-2xl text-custom-dark-grey py-4">
    {title}
  </h3>
  <p class="leading-loose">
    {body}
  </p>
</div>
