---
import footerSocialLinks from '../../data/footer-social-links'
---

<footer class="mt-20">
  <div class="lg:flex lg:justify-between">
    <ul class="flex w-full justify-between mb-8 max-w-96">
      {
        footerSocialLinks.map((link) => (
          <li class="text-custom-dark-grey underline">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mb-8">
      Designed & Developed <span>
        <a href="#top" class="text-custom-primary scroll-smooth"
          >chrisharley.io ↑</a
        >
      </span>
    </p>
  </div>
</footer>
