---
import footerSocialLinks from '../../data/footer-social-links'
---

<footer class="mt-20">
  <div
    class="flex flex-col gap-8 min-[768px]:flex-row min-[1028px]:justify-between"
  >
    <ul class="flex gap-4">
      {
        footerSocialLinks.map((link) => (
          <li class="text-custom-dark-grey underline hover:text-custom-primary transition-all">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mb-8">
      Designed & Developed <span>
        <a href="#top" class="text-custom-primary scroll-smooth"
          >chrisharley.io ↑</a
        >
      </span>
    </p>
  </div>
</footer>
