---
import footerSocialLinks from '../../data/footer-social-links'
---

<footer class="mt-40 px-4">
  <div
    class="max-w-[768px] mx-auto lg:flex min-[780px]:px-4 lg:justify-between lg:max-w-[1028px]"
  >
    <ul class="flex w-full justify-between mb-8 max-w-96">
      {
        footerSocialLinks.map((link) => (
          <li class="text-custom-dark-grey underline">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mb-8">
      Designed & Developed <span>
        <a href="#top" class="text-custom-primary scroll-smooth"
          >chrisharley.io</a
        >
      </span>
    </p>
  </div>
</footer>
