---
import Picture from 'astro/components/Picture.astro'
---

<div class="flex justify-center mt-20">
  <Picture
    src="https://utfs.io/f/itB1v1cNMItpCd8ks7TTZM5VuYQeDgwsni4H3jSdJCyqbOch"
    alt="Anotehr GIF of the mi amors app prototype"
    class="mx-auto min-[744px]:mx-0 min-[744px]:mr-auto: rounded-[45px] border-[10px] border-custom-dark-grey"
    inferSize
  />
</div>
