---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import { Image } from 'astro:assets'

const { description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection description={description} body={body} size={size} />
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpU3i0cmoTRPswX0oel3By9AMYIiNW168ZEpfC"
      alt="High fidelity images of mi amor's cafe app"
      height={1000}
      width={1000}
      loading="lazy"
    />
  </div>
</section>
