<section
  class="mt-20 w-full flex flex-col gap-8 text-center py-16 min-[744px]:flex-row border-t-2 border-b-2 justify-between"
>
  <div class="flex flex-col gap-2">
    <p class="font-bold">Role</p>
    <p>UI Designer</p>
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-bold">Team</p>
    <p>Chris Harley</p>
    <p class="text-sm">(Solo)</p>
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-bold">Duration</p>
    <p>Oct 2024</p>
    <p class="text-sm">(2 mo. total)</p>
  </div>
</section>
