---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import { Image } from 'astro:assets'

const { title, description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection
    title={title}
    description={description}
    body={body}
    size={size}
  />
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpT6zDuzKNFQVstk9ojW0IOBuR7Jc1wgTlZepi"
      alt="Image of UX Persona carefule critic"
      height={1000}
      width={1000}
      loading="lazy"
    />
  </div>
</section>
