---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import { Image } from 'astro:assets'
const { title, description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection
    title={title}
    description={description}
    body={body}
    size={size}
  />

  <!-- TODO: make dynamic  -->
  <div class="mt-8 grid grid-cols-1 gap-8 min-[1028px]:grid-cols-2">
    <div>
      <header
        class="flex bg-custom-light-grey items-center p-4 gap-4 rounded-t-lg"
      >
        <Image
          src="https://utfs.io/f/itB1v1cNMItpy4f89czjhovRdHOm3UWrDY204p5qQJlTxwLE"
          alt="small card image of busy bryan"
          height={50}
          width={50}
        />
        <h3>Busy Professional Bryan</h3>
      </header>
      <ul class="mt-2 flex flex-col gap-4">
        <li>The app’s slow performance makes it hard to order quickly'</li>
        <li>
          The checkout process is so complicated; it takes too long to place an
          order.
        </li>
        <li>
          The app’s navigation is confusing, and finding what I want is
          difficult. I just want that app to be fast and simple to use.
        </li>
      </ul>
    </div>

    <div>
      <header
        class="flex bg-custom-light-grey items-center p-4 gap-4 rounded-t-lg"
      >
        <Image
          src="https://utfs.io/f/itB1v1cNMItpy2TkSljhovRdHOm3UWrDY204p5qQJlTxwLEf"
          alt="small card image of focused fiona"
          height={50}
          width={50}
        />
        <h3>Family-Focused Fiona</h3>
      </header>
      <ul class="mt-2 flex flex-col gap-4">
        <li>I need better filtering options for my dietary needs.</li>
        <li>
          I often host events and need the option to schedule orders in advance.
        </li>
        <li>
          I find that current apps lack of family meal options make it difficult
          to order for my family especially on a budget.
        </li>
      </ul>
    </div>
  </div>
</section>
