---
import { Picture } from 'astro:assets'
---

<section class="grid justify-center mt-20">
  <Picture
    src="https://utfs.io/f/itB1v1cNMItpX3qe2Auw7gZuIfaY0RBM5OzWwEhe12jqdp4l"
    alt="A GIF of the mi amors app prototype"
    class="mx-auto min-[744px]:mx-0 min-[744px]:mr-auto: rounded-[45px] border-[10px] border-custom-dark-grey"
    inferSize
    pictureAttributes={{ style: 'margin-left: auto;' }}
  />
</section>
