---
import { Picture } from 'astro:assets'
---

<section
  class="mt-20 min-[744px]:grid min-[744px]:grid-cols-2 gap-8 items-center justify-between w-full"
>
  <div class="mb-8">
    <h1 class="text-3xl font-black text-custom-dark-grey">
      Mi Amor’s Café Designing a Seamless Mobile Ordering Experience
    </h1>
    <p class="font-bold mt-2">
      Creating a Faster, Simpler, and More Personalized Mobile ordering
      experience
    </p>
  </div>

  <!-- prototype gif -->
  <Picture
    src="https://utfs.io/f/itB1v1cNMItpcEOWnjQBz5jVYTIJ6on9a2UQWSipNCebrqRu"
    alt="A GIF of the mi amors app prototype"
    class="mx-auto min-[744px]:mx-0 min-[744px]:mr-auto: rounded-[45px] border-[10px] border-custom-dark-grey"
    inferSize
    pictureAttributes={{ style: 'margin-left: auto;' }}
  />
</section>
