---
import Image from 'astro/components/Image.astro'
---

<section class="mt-20">
  <!-- text -->
  <div>
    <h1 class="text-3xl font-black text-custom-dark-grey">
      Mi Amor’s Café Designing a Seamless Mobile Ordering Experience
    </h1>
    <p class="font-bold mt-2">
      Creating a Faster, Simpler, and More Personalized Mobile ordering
      experience
    </p>
  </div>

  <!-- prototype gif -->
  <div class="mt-8 w-full">
    <Image
      src="https://utfs.io/f/itB1v1cNMItp5z0DrOhMqsOXj4wrT1PCy3oRxkFK87UiZGSE"
      alt="A GIF of the mi amors app prototype"
      height="5000"
      width="500"
      class="mx-auto"
    />
  </div>
</section>
