---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import Image from 'astro/components/Image.astro'

const { description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection description={description} body={body} size={size} />
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpeiclEdKHr3wV8uPRDtSTLQKMfxsFUdnEjog4"
      alt="High fidelity wireframe images of mi amor's cafe app"
      inferSize
    />
  </div>
</section>
