---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import { Image } from 'astro:assets'

const { title, description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection
    title={title}
    description={description}
    body={body}
    size={size}
  />
  <div class="mt-2 max-w-[628px] mx-auto">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpvPaTlg4HXNxS5KysO7wo8UFpdT3efMn4m0Zq"
      alt="Image of the design thinking process steps"
      inferSize
      loading="lazy"
    />
  </div>
</section>
