<section class="mt-20">
  <div>
    <p class="font-bold">Role</p>
    <p>UI/UX Designer</p>
  </div>
  <div>
    <p class="font-bold">Team</p>
    <p>Chris Harley</p>
    <p class="text-sm">(Solo)</p>
  </div>
  <div>
    <p class="font-bold">Duration</p>
    <p>Oct 2024</p>
    <p class="text-sm">(2 mo. total)</p>
  </div>
</section>
