---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import Image from 'astro/components/Image.astro'

const { description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection description={description} body={body} size={size} />
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpQtCYEU2Gcb0Yx4grV1JINtMdaAnoeS5K3sUw"
      alt="Image of UX Persona Techie Sam"
      inferSize
    />
  </div>
</section>
