---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'
import { Image } from 'astro:assets'

const { description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection description={description} body={body} size={size} />
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpQtCYEU2Gcb0Yx4grV1JINtMdaAnoeS5K3sUw"
      alt="Image of UX Persona Techie Sam"
      height={1000}
      width={1000}
      loading="lazy"
    />
  </div>
  <div class="mt-8">
    <Image
      src="https://utfs.io/f/itB1v1cNMItpPpKYHTg9yqtdEmwJsFuTXKx32O8hbk7gRQHi"
      alt="Image of UX Persona Techie Sam"
      height={1000}
      width={1000}
      loading="lazy"
    />
  </div>
</section>
