---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'

const { title, description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection
    title={title}
    description={description}
    body={body}
    size={size}
  />
</section>
