---
import { Image } from 'astro:assets'
import { truncate } from '../../lib/utils'

const { title, image, description, link } = Astro.props
---

<a href={link}>
  <Image
    src={image}
    width={5000}
    height={100}
    alt="Picture Mi Amor's food ordering app"
    loading="lazy"
  />
  <h3 class="font-bold text-2xl text-custom-dark-grey mt-4 mb-1">{title}</h3>
  <p>{truncate(description, 200)}</p>
</a>
