---
import { Image } from 'astro:assets'
import { truncate } from '../../lib/utils'

const { title, image, description } = Astro.props

console.log(typeof image)
---

<div>
  <div class="mb-4 leading-7">
    <Image
      src={image}
      alt={title}
      height="500"
      width="5000"
      loading="lazy"
      class="object-fill"
    />
  </div>
  <h3 class="font-bold text-2xl text-custom-dark-grey mb-1">{title}</h3>
  <p>{truncate(description, 80)}</p>
</div>
