---
import CasestudyTextsection from '@/components/shared/casestudy-textsection.astro'

const { description, body, size } = Astro.props
---

<section>
  <CasestudyTextsection description={description} body={body} size={size} />

  <!-- user story cards -->
  <div class="mt-8 grid gap-8 min-[1028px]:grid-cols-2">
    <div class="border-4 border-custom-dark p-4 rounded-[8px]">
      <h3 class="font-bold text-center">DJ's</h3>
      <p class="text-custom-dark-grey">
        If we create a centralized platform for DJs to showcase their profiles,
        stream live sets, and engage with fans, then Alex will be able to grow
        his global fanbase, streamline his workflow, and focus more on creating
        music rather than managing multiple tools.
      </p>
    </div>
    <div class="border-4 border-custom-dark p-4 rounded-[8px]">
      <h3 class="font-bold text-center">Fans</h3>
      <p class="text-custom-dark-grey">
        If we design a unified platform for discovering live streams, exploring
        new DJs, and supporting artists directly, then Jamie will be able to
        easily find niche drum & bass content, stay connected with his favorite
        DJs, and feel more engaged with the community.
      </p>
    </div>
  </div>
</section>
