---
import { Image } from 'astro:assets'
---

<section
  class="mt-20 min-[744px]:grid min-[744px]:grid-cols-2 gap-8 items-center justify-between w-full"
>
  <div class="mb-8">
    <h1 class="text-3xl font-black text-custom-dark-grey">
      Connecting Drum & Bass DJs and Fans Worldwide
    </h1>
    <p class="font-bold mt-2">
      Integrated Platform for Drum & Bass Live Streaming, Community Engagement,
      and Monetization
    </p>
  </div>

  <Image
    src="https://utfs.io/f/itB1v1cNMItpL1sHLDRGHjZa1Nr7b8mdCfVecUsy5kR0o3JT"
    alt="A GIF of the mi amors app prototype"
    class="mx-auto min-[744px]:mx-0"
    inferSize
    loading="lazy"
  />
</section>
