---
import { Button } from '../ui/button'
---

<form
  name="contact"
  method="POST"
  data-netlify="true"
  action="/contact-success"
>
  <div class="mb-8">
    <label for="name" class="mb-1 block">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Your name"
      class="w-full rounded-md border border-custom-light-grey bg-custom-light py-3 px-3 text-custom-dark-grey outline-none focus:border-custom-primary focus:shadow-md"
      required
    />
  </div>
  <div class="mb-8">
    <label for="email" class="mb-1 block"> Email Address </label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Your email"
      class="w-full rounded-md border border-custom-light-grey bg-custom-light py-3 px-3 text-base font-medium text-custom-dark-grey outline-none focus:border-custom-primary focus:shadow-md"
      required
    />
  </div>
  <div class="mb-8">
    <label for="message" class="mb-1 block"> Message </label>
    <textarea
      rows="4"
      name="message"
      id="message"
      placeholder="Write your message here..."
      class="w-full resize-none rounded-md border border-custom-light-grey bg-custom-light py-3 px-3 text-custom-dark-grey outline-none focus:border-custom-primary focus:shadow-md"
    ></textarea>
  </div>
  <div>
    <Button>Send Email</Button>
  </div>
</form>
