---
import { Button } from '../ui/button'
---

<section class="mt-20">
  <p class="mb-2">Get in touch at...</p>
  <h1 class="text-5xl font-bold mb-8">
    <a href="">chrisharley81@gmail.com</a>
  </h1>
  <Button>
    <a href="">Contact me</a>
  </Button>
</section>
