---
import MainNavigation from '@/components/shared/main-navigation'
import Footer from '@/components/shared/footer.astro'
import { ViewTransitions } from 'astro:transitions'
import Posthog from '@/components/posthog.astro'
import '@fontsource/raleway'

interface Props {
  title: string
}

const { title } = Astro.props
import PostHogLayout from '../layouts/PostHogLayout.astro'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <Posthog />
  </head>
  <body class="text-custom-dark">
    <div
      id="layout"
      class="flex flex-col min-h-screen mx-auto px-4 sm:max-w-[628px] md:max-w-[728px] lg:max-w-[1100px]"
    >
      <MainNavigation client:load />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
    <style>
      body {
        font-family: 'Raleway';
      }
    </style>
  </body>
</html>
