---
import Layout from '../../layouts/Layout.astro'
import '../../styles/globals.css'
import Hero from '@/components/case-studies/mi-amors/hero.astro'
import Summary from '@/components/case-studies/mi-amors/summary.astro'
---

<Layout title="Welcome to The Case Study for Mi Amor's">
  <section>
    <Hero />
    <Summary />
    <!-- overview -->
    <!-- problem statement -->
    <!-- users  -->
    <!-- role   -->
    <!-- constraints -->
    <!-- empathize  -->
    <!-- define -->
    <!-- ideate -->
    <!-- prototype -->
    <!-- testing  -->
    <!-- design system -->
    <!-- high-fidelity -->
    <!-- prototype gif 2 -->
    <!-- contact section -->
  </section>
</Layout>
